<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />

    <title>Dashboard - Smart Queue</title>
</head>

<body>
    <!-- Container -->
    <div class="flex flex-row">
        <!-- Left container -->
        <div class="flex flex-col w-full bg-gray-100">
            <!-- Up container -->
            <div class="flex h-1/2 w-full max-h-full place-content-center text-center items-center justify-center">
                <div class="my-5 bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs">
                    {% if current_patient %}
                    <p class="text-7xl">
                        {{ current_patient.order_number }}
                    </p>

                    <h1 class="text-lg text-gray-700"> {{ current_patient.condition_name }} </h1>

                    <h3 class="text-sm text-gray-400 "> {{ current_patient.arrived }} </h3>

                    <p class="text-xs text-gray-400 mt-4"> {{ current_patient.uuid }} </p>
                    
                    
                    <form  method = "post">
                        <button class="bg-indigo-600 px-8 py-2 mt-8 rounded-3xl text-gray-100 font-semibold uppercase">
                            Next patient
                        </button>
                    </form>

                    {% else %}

                    <p class="text-3xl">
                        No patient waiting.
                    </p>

                   {% endif %}

                </div>
            </div>

            <!-- Down container -->
            <div class="flex h-1/2 w-full max-h-full place-content-center text-center">


                <div class="flex flex-row">

                    <form class="w-full" action="/conditions/add" method="post">
                        <div class="flex items-center justify-center h-full">
                            <div class="bg-white py-6 rounded-md px-10 max-w-lg shadow-md">
                                <h1 class="text-center text-lg font-bold text-gray-500">Add condition</h1>
                                <div class="space-y-4 mt-6">
                                    <div class="w-full">
                                        <input name="name" type="text" placeholder="name" class="px-4 py-2 bg-gray-50"
                                            required />
                                    </div>

                                    <div class="w-full">
                                        <input name="desc" type="text" placeholder="description"
                                            class="px-4 py-2 bg-gray-50" />
                                    </div>

                                    <div class="w-full">
                                        <input name="complexity" type="number" min="1" placeholder="complexity"
                                            class="px-4 py-2 bg-gray-50" required/>
                                    </div>

                                </div>
                                <button type="submit"
                                    class="w-full mt-5 bg-indigo-600 text-white py-2 rounded-md font-semibold tracking-tight">Add</button>
                            </div>
                        </div>
                    </form>


                    <div class="flex w-full h-full px-5">
                        <table class="border-collapse w-full m-auto">
                            <thead>
                                <tr>
                                    <th
                                        class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
                                        Condition</th>
                                    <th
                                        class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
                                        Description</th>
                                    <th
                                        class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
                                        Complexity</th>
                                    <th
                                        class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
                                    </th>
                                </tr>
                            </thead>


                            <tbody>
                                {% for condition in conditions %}
                                <tr id="{{ condition.id }}"
                                    class="row-data max-h-0.5 bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                                    <td
                                        class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                                        {{ condition.name }}
                                    </td>
                                    <td
                                        class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                                        {{ condition.description }}
                                    </td>
                                    <td
                                        class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                                        {{ condition.complexity }}
                                    </td>
                                    <td
                                        class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                                        <input type="button" class="text-blue-400 hover:text-blue-600 underline"
                                            value="Remove" onclick="remove()" />
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>

        <!-- Right container -->
        <div class="w-1/2 h-screen text-center bg-gray-300">
            <h1 class="font-bold my-8 text-5xl">
                CURRENT QUEUE
            </h1>

            <div class="flex flex-col gap-4 items-center">
                {% for elem in queue %}

                <div class="border-2 border-b-4 border-gray-200 rounded-xl hover:bg-gray-50 bg-white">

                    <div class="grid grid-cols-6 p-5 gap-y-2">

                        <!-- Order number -->
                        <div class="">
                            <p
                                class="text-white text-5xl bg-sky-500 w-16 h-16 rounded-full flex justify-center items-center text-center align-middle">
                                {{ elem.order_number }}
                            </p>
                        </div>

                        <!-- Description -->
                        <div class="col-span-5 md:col-span-4 ml-4">

                            <!-- <p class="text-sky-500 font-bold text-xs"> 7+ SPOTS LEFT </p> -->

                            <p class="text-gray-600 font-bold"> {{ elem.condition_name }} </p>

                            <p class="text-gray-400"> {{ elem.arrived }} </p>

                        </div>

                        <!-- patient type -->
                        <div class="flex col-start-2 ml-4 md:col-start-auto md:ml-0 md:justify-end">
                            <p class="rounded-lg text-red-500 font-bold bg-red-100 py-1 px-3 text-xs w-fit h-fit"> NEW
                            </p>
                        </div>

                    </div>

                </div>

                {% endfor %}
            </div>

        </div>
    </div>

</body>

<script src="{{url_for('static', filename='js/conditions.js')}}"></script>

</html>